/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-Jan-2019, 20:16:29
    Author     : Sanjay_Yadav
*/

.center {
  margin: auto;
  width: 40%;
  padding: 10px;
}
.text-center
{
	text-align: center;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.li {
  float: left;
  padding: 15px;
}